/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.img {
  position : relative;
  height : 30vh;
  width : 100%;
}

/* 슬라이드 쇼 안쪽 텍스트에 대한 css */
.text {
  color: #f2f2f2;
  font-size: 3rem;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Youth;
  position: absolute;
  top:8rem;
}

/* 도트 객체에 대한 css */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; /* ? inline-block 의 역할을 알아야 함 */
  transition: background-color 0.6s ease;
}

/* 화살표 및 아래 도트 hover 이벤트 관련 css */

.active, .dot:hover { /* hover 시 진한 회색 */
  background-color: #717171;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 슬라이드 전환 효과 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

/* 300px 이하의 해상도에 대한 텍스트 세부 조절 */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* 컨텐츠 영역에 대한 css */

.contents-wrap {
  width: 100%;
  height: 500px;
  text-align: center;
}

.button {
  pointer : cursor;
  font-family : Youth;
  font-size :25px;
  color : #333743;
  width : 450px;
  height : 100px;
  font-weight : bold;
}

@media all and (max-width:768px) {
  .button {
    width : 100%;
  }
}
