<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="guestBook">
	
	<insert id="insertGuestBook">
		insert into guestBook(guestBookCode, shopCode, guestBookTitle, guestBookContent, guestBookTime)
		values (guestBookCode.NEXTVAL, #{shopCode}, #{guestBookTitle}, #{guestBookContent}, sysdate)
	</insert>

	<select id="getGuestBookList" resultType="guestBookDTO">
		select *
		from guestBook
		where shopCode = #{shopCode}
		order by to_number(guestBookCode) desc
	</select>
</mapper>














