/* 컨텐츠 영역에 대한 css */

.contents-wrap {
  width: 100%;
  height: 500px;
  text-align: center;
}

.button {
  pointer : cursor;
  font-family : Daum;
  font-size :25px;
  color : #333743;
  width : 450px;
  height : 100px;
  font-weight : bold;
}

@media all and (max-width:768px) {
  .button {
    width : 100%;
  }
}

.foodList {
	width : 50px;
	height: 50px;
}

.w3-quarter {
	cursor: pointer;
}

.button_alerm:hover {
	background-color: #C51811 !important;
}

.button_chart:hover {
	background-color: #106FC2 !important;
}

.button_menu:hover {
	background-color: #007A6E !important;
}

.button_user:hover {
	background-color: #EA8B00 !important;
}

.dashBoard {
	display: none;
	text-align: center;
	padding: 0;
}

.product_picture {
	width: 200px;
	height: 200px;
}

.product {
	text-align: center;
	float: left;
	padding: 16px;
	cursor : pointer;
}

.slide_button {
	position : absolute;
}

.warning_pictures {
	width : 250;
	margin : 50 0;
}

.width_200 {
	width : 200px;
}

.background_us {
	background-image: url('../../../image/background_us.png');

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* 애니메이션 효과 */

.makers_contents {
	background: rgb(255,255,255);
	margin-top: 20px;
	padding: 20px;
	opacity : 0;
	
	-webkit-transition: 0.4s ease-out;		
	-moz-transition: 0.4s ease-out;
	-ms-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;	
	transition: 0.4s ease-out;
}

.makers_contents_animate {
	opacity : 1;
	transform : translate(0);
}


.makers_profile {
	margin-top : 50px;
	opacity : 0;
		
	-webkit-transition: 0.3s ease-out;		
	-moz-transition: 0.3s ease-out;
	-ms-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;	
	transition: 0.3s ease-out;

	-webkit-transition-delay : 0.4s;
	-moz-transition-delay : 0.4s;
	-ms-transition-delay : 0.4s;
	-o-transition-delay : 0.4s;
	transition-delay : 0.4s;
}

.makers_profile_animate {
	margin-top : 0 !important;
	opacity : 1;
}

#number_statistics {
	font-size : 24px;
}

.makeQR {
	width : 80%;
	height: 2.5em;
	font-size: 1.5em;
	margin-top: 30px;
}